---
import SectionName from "./SectionName.astro";
import SectionTitle from "./SectionTitle.astro";
import FAQItem from "./FAQItem.astro";
import { type Lang, defaultLang } from "../i18n/config";
import { useTranslations } from "../i18n/utils";

interface Props {
  lang?: Lang;
}

const { lang = defaultLang } = Astro.props;
const t = useTranslations(lang);
---

<section class="">
  <div class="max-w-screen-lg mx-auto py-12 pb-6 flex flex-col items-center">
    <SectionName>{t.faq.sectionName}</SectionName>
    <SectionTitle
      >{t.faq.title} <span class="text-gradient">{t.faq.titleHighlight}</span></SectionTitle
    >

    <div class="border border-[#F4F4F5] bg-[#FBFBFB] rounded-[32px] p-4 w-full">
      {t.faq.items.map((item) => (
        <FAQItem question={item.question} answer={item.answer} />
      ))}
    </div>
  </div>
</section>
